._gl-link[_ngcontent-jkn-c108] {
  display: block;
  margin-left: 0;
}
._gl-link[_ngcontent-jkn-c108] a {
  margin: 0 !important;
}
._box-wrapper[_ngcontent-jkn-c108] {
  padding-left: 5px;
}
._box[_ngcontent-jkn-c108] {
  position: relative;
}
._box-inner[_ngcontent-jkn-c108] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.panel[_ngcontent-jkn-c108] {
  width: 100%;
}

// style
div[cu-carousel-panel][_ngcontent-exp-c109] {
  vertical-align: top;
}
div.custom_selected_brand[_ngcontent-exp-c109] {
  background-size: 280px auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

// style
[_nghost-mbd-c53] {
  display: block;
  position: relative;
}
[_nghost-mbd-c53] .cloned {
  pointer-events: none;
}
[_nghost-mbd-c53] img,
[_nghost-mbd-c53] a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
div.viewport[_ngcontent-mbd-c53] {
  width: 100%;
  height: 100%;
}
div.rail-wrapper[_ngcontent-mbd-c53] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
ul._dots[_ngcontent-mbd-c53] {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 7px;
}
ul._dots[_ngcontent-mbd-c53] li[_ngcontent-mbd-c53] + li[_ngcontent-mbd-c53] {
  margin-left: 5px;
}
ul._dots[_ngcontent-mbd-c53] li[_ngcontent-mbd-c53] {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  border-radius: 100%;
}
ul._dots[_ngcontent-mbd-c53] li[_ngcontent-mbd-c53] span[_ngcontent-mbd-c53] {
  display: block;
  width: 5px;
  height: 5px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  border-radius: 100%;
}
