._gl-link[_ngcontent-jkn-c108] {
  display: block;
  margin-left: 0;
}
._gl-link[_ngcontent-jkn-c108] a {
  margin: 0 !important;
}
._box-wrapper[_ngcontent-jkn-c108] {
  padding-left: 5px;
}
._box[_ngcontent-jkn-c108] {
  position: relative;
}
._box-inner[_ngcontent-jkn-c108] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.panel[_ngcontent-jkn-c108] {
  width: 100%;
}
